{% extends "base.html" %}

{% load static %}

{% block title %} About Page {% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class='container'>
<h1>📞 Contact Us</h1>
<p>Have questions or suggestions? I'd like to hear more about what you want like if you want to add an anime character, improve designs and etc. 
    Reach out to us at animefigurine@gmail.com or the contact number that I provided.</p>
</div>
</body>
</html>
{% endblock %}